html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, Roboto, sans-serif;
}

header {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
    margin: 5px auto;
    padding: 10px;
}

footer {
    flex: 0 0 auto;
}

.navigation-container {
    background: #151515;
    color: darkgrey;
    height: 100px;
    width: 100%;
}

.navigation-item:hover {
    border-top: 1px solid darkgrey;
}

.navigation-a:hover {
    color: white;
}

.navigation-a {
    color: darkgrey;
}

.navigation-item, .navigation-logo {
    text-align: center;
    width: 10%;
    float: left;
    height: 50%;
    margin: 10px;
    padding: 5px;
    font-size: 150%;
}

.header-item {
    text-align: center;
    color: darkgrey;
    float: left;
    height: 50%;
    margin: 10px;
    padding: 5px;
    font-size: 150%;
    width: 15%;
}

.navigation-logo {
    height: 50px;
    float: right;
    text-align: right;
}

.logo {
    width: 70px;
}

.footer-container {
    bottom: 0;
    background: #e6e6e6;
    color: aliceblue;
    height: 100px;
    width: 100%;
}

.footer-item {
    color: #262626;
    width: 50%;
    float: right;
    height: 80%;
    padding: 25px;
    font-size: 120%;
}

.footer-item-information {
    display: inline-block;
    color: #575757;
    margin: 0 5px;
    width: 400px;
}

.footer-img {
    margin: 10px 3%;
    float: right;
}

.img {
    height: 50px;
}
