a {
    color: #e6e6e6;
    text-decoration: none;
}

.a-service-center {
    color: #494949;
}

.a-service-center:hover {
    color: #0e0e0e;
}

.div-delete {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: 1px solid #0e0e0e;
    border-radius: 3px;
}

.ul-container-inline {
    display: inline-block;
}

.div-content {
    margin: 5px auto;
    padding: 10px;
}

.main-form {
    margin: 5px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.ul-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-input-container, .li-add-container {
    margin: 5px;
}

.li-service-centers {
    margin: 5px;
}

.label-input {
    margin-right: 10px;
}

.table-masters {
    border-collapse: collapse;
    border: 1px solid #0e0e0e !important;
    width: 400px;
    height: 150px;
}

.th-masters {
    border: 1px solid #0e0e0e;
    padding: 7px;
}

.td-masters {
    border: 1px solid #181818;
    padding: 5px;
}
