<?php
/**
 * @var \App\Blocks\View $this
 */
?>

<div class="div-content">
    <h1>404</h1>
    <h2>К СОЖАЛЕНИЮ, СТРАНИЦА НЕ НАЙДЕНА.</h2>
    <div>
        <img class="img_gif" src="https://i.pinimg.com/originals/ce/f4/e7/cef4e7fabe6b02ef0657edafdc1b424e.jpg" alt="Грустный кот">
    </div>
</div>
