<?php
/**
 * @var \App\Blocks\View $this
 */
?>

<div class="div-content">
    <h1>500</h1>
    <h2>К СОЖАЛЕНИЮ, ЧТО-ТО ПОШЛО НЕ ТАК.</h2>
    <div>
        <img class="img_gif" src="https://n1s1.elle.ru/48/7b/36/487b36300c62c5f0cb905da52aa874b4/728x486_1_30b570c2f6c0da65bb56095068e05768@940x627_0xc0a839a4_18087198581488362059.jpeg" alt="Грустный кот">
    </div>
</div>
