<?php
/**
 * @var Brand $this
 */

use App\Blocks\Brand;

?>

<div class="content">
    <p>Brands page</p>
    <ul>
        <?php foreach ($this->getBrands() as $field): ?>
            <li><?= $field['brand'] ?> - <?= $field['country'] ?></li>
        <?php endforeach; ?>
    </ul>
</div>

<div>
    <form class="main-form" action="brands" method="post">
        <ul class="ul-container">
            <li class="li-input-container">
                <label class="label-input for="brand">Марка</label>
                <input type="text" id="brand" name="brand">
            </li>
            <li class="li-input-container">
                <label class="label-input for="country_id">Страна марки</label>
                <select id="country_id" name="country_id">
                    <?php foreach ($this->getCountries() as $country): ?>
                        <option value=<?= $country->getId() ?>><?= $country->getCountry() ?></option>
                    <?php endforeach; ?>
                </select>
            </li>
            <li class="li-add-container">
                <button type="submit">Добавить</button>
            </li>
        </ul>
    </form>
</div>
