<?php
/**
 * @var Home $this
 */

use App\Blocks\Home;

?>

<div class="content">
    <p>Home content</p>
    <ul>
        <?php foreach ($this->getData() as $field): ?>
            <li><?= $field ?></li>
        <?php endforeach; ?>
    </ul>

    <h2>Форма добавления пользователя</h2>
    <form class="main-form" action="/" method="post">
        <ul class="ul-container">
            <li class="li-input-container">
                <label class="label-input for="name">Имя</label>
                <input type="text" id="name" name="name">
            </li>
            <li class="li-input-container">
                <label class="label-input for="surname">фамилия</label>
                <input type="text" id="surname" name="surname">
            </li>
            <li class="li-input-container">
                <label class="label-input for="passport_id">Паспорт</label>
                <input type="text" id="passport_id" name="passport_id">
            </li>
            <li class="li-input-container">
                <label class="label-input for="password">Пароль</label>
                <input type="text" id="password" name="password">
            </li>

            <li class="li-add-container">
                <button type="submit">Добавить пользователя</button>
            </li>
        </ul>
    </form>
</div>
