<?php
/**
 * @var \App\Blocks\View $this
 */
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/logo.png">
    <title><?= $this->getTitle()?></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="navigation-container">
        <div class="navigation-item"><a class="navigation-a" href="service-centers">Сервисные центры</a></div>
        <div class="navigation-item"><a class="navigation-a" href="masters">Мастера</a></div>
        <div class="navigation-item"><a class="navigation-a" href="service-registrations">Запись на обслуживание</a></div>
        <div class="navigation-item"><a class="navigation-a" href="brands">Марки</a></div>
        <div class="navigation-item"><a class="navigation-a" href="/">Главная страница</a></div>
        <div class="header-item">8 (777) 777 77 77</div>
        <div class="navigation-logo">
            <img class="logo" src = "/images/logo.png" alt="Логотип">
        </div>
    </div>
</header>

<div class="main-content">
    <?php require APP_ROOT . "/views/{$this->template}.phtml";?>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-items">
            <hr>
            <div class="footer-item-information">© 2021 Service Center. All Rights Reserved</div>
            <div class="footer-item">Наши социальные сети</div>
            <div class="footer-img">
                <?php foreach ($this->getLinks() as $field):?>
                    <a href="<?=$field[0]?>"><img class="img" src="<?=$field[1]?>"</a>
                <?php endforeach;?>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
