<?php
/**
 * @var \App\Blocks\Master $this
 */
?>

<div class="content">
    <p>Masters page</p>

    <table class="table-masters">
        <tr class="tr-masters">
            <th class="th-masters">Имя</th>
            <th class="th-masters">Фамилия</th>
            <th class="th-masters">Фамилия старшего мастера</th>
        </tr>
        <?php foreach ($this->getMasters() as $field): ?>
            <tr class="tr-masters">
                <td class="td-masters"><?= $field['name']?></td>
                <td class="td-masters"><?= $field['surname'] ?></td>
                <td class="td-masters"><?= $field['head_surname']?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
