<?php
/**
 * @var \App\Blocks\ServiceRegistration $this
 */
?>

<div class="content">
    <p>Reg page</p>
    <ul>
        <?php foreach ($this->getServiceRegistrations() as $field): ?>
            <li><?= $field['name'] ?> <?= $field['date_of_recording'] ?></li>
        <?php endforeach; ?>
    </ul>
</div>
