<?php
use App\Blocks\ServiceCenter\ServiceCenterList;
use App\Models\Data\ServiceCenter;

/**
 * @var ServiceCenterList $this
 */
?>

<div class="content">
    <p>Centers page</p>
    <div class="ul-container-inline">
        <ul>
            <?php /** @var ServiceCenter $field */ ?>
            <?php foreach ($this->getServiceCenters() as $field): ?>
                <li class="li-service-centers">
                    <a class="a-service-center" href="/service-center?id=<?= $field->getId() ?>">
                        <?= $field->getCountry() ?> <?= $field->getCity() ?> - <?= $field->getName() ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
