<?php
/**
 * @var ServiceCenterView $this
 */

use App\Blocks\ServiceCenter\ServiceCenterView;
?>

<div class="content">
    <div class="ul-container-inline">
        <h1>Сервис: <?= $this->getServiceCenter()->getName() ?></h1>
        <ul>
            <li>
                <p>Страна: <?= $this->getServiceCenter()->getCountry() ?> </p>
            </li>
            <li>
                <p>Город: <?= $this->getServiceCenter()->getCity() ?> </p>
            </li>
            <li>
                <p>Адрес <?= $this->getServiceCenter()->getStreet() ?> <?= $this->getServiceCenter()->getHouse() ?> </p>
            </li>
            <li>
                <p>Количество Мест: <?= $this->getServiceCenter()->getNumberOfPlace() ?> </p>
            </li>
        </ul>
    </div>

    <div>
        <h2>Форма редактирования данных о сервисе</h2>
        <form class="main-form" action="/service-center" method="post">
            <input type="hidden" id="id" name="id" value="<?= $this->getServiceCenter()->getId() ?>">
            <ul class="ul-container">
                <li class="li-input-container">
                    <label class="label-input for="name">Название</label>
                    <input type="text" id="name" name="name" value="<?= $this->getServiceCenter()->getName() ?>">
                </li>
                <li class="li-input-container">
                    <label class="label-input for="country">Страна</label>
                    <input type="text" id="country" name="country" value="<?= $this->getServiceCenter()->getCountry() ?>">
                </li>
                <li class="li-input-container">
                    <label class="label-input for="city">Город</label>
                    <input type="text" id="city" name="city" value="<?= $this->getServiceCenter()->getCity() ?>">
                </li>
                <li class="li-input-container">
                    <label class="label-input for="street">Улица</label>
                    <input type="text" id="street" name="street" value="<?= $this->getServiceCenter()->getStreet() ?>">
                </li>
                <li class="li-input-container">
                    <label class="label-input for="house">Дом</label>
                    <input type="text" id="house" name="house" value="<?= $this->getServiceCenter()->getHouse() ?>">
                </li>
                <li class="li-input-container">
                    <label class="label-input for="number_of_place">Количество мест</label>
                    <input type="text" id="number_of_place" name="number_of_place"
                           value="<?= $this->getServiceCenter()->getNumberOfPlace() ?>">
                </li>
                <li class="li-add-container">
                    <button type="submit">Сохранить изменения</button>
                </li>
            </ul>
        </form>

        <div class="div-delete" >
            <a class="a-service-center" href="service-center/delete?id=<?= $this->getServiceCenter()->getId() ?>" type="submit">Удалить сервис</a>
        </div>
    </div>
</div>
